$brand-color: 				#266FE1;
$brand-color-alt: 			#D73189;
$brand-color-alt-light: 	#F1C4E1;

$bg-color: 					#FFFFFF;
$bg-color-alt:				#F3F4F5;

$text-color:				#0F1114;
$text-color-alt:			#979EA6;
$text-color-light:			#C3C3C9;
